.DS_Store
.idea
.sass-cache
.sass-cache/

*/resource/
*/*.site
*/build/
*/preview/
*/*.zip
*.zip
*.sh
*/**/*.psd
./dist/
./dist/**
*/dist/
dist/


*.class
*.orig
**/*.orig
/target/


.mtj.tmp/


*.jar
*.war
*.ear


hs_err_pid*

#idea files
.idea/
*.iml
overlays/
jxl.log

node_modules/
.vscode/

spider/
screenshot/*